<div class="job-card">
  <div class="job-card__section">
    <img
      class="job-card__logo"
      src="../../assets/images/photosnap.svg"
      alt="company logo"
      width="48"
    />

    <div class="job-card__main">
      <div class="job-card__company">
        <p class="job-card__company-name">Photosnap</p>
        <span class="job-card__indicator">New</span>
        <span class="job-card__indicator dark">Featured</span>
      </div>

      <h2 class="job-card__position">Senior Frontend Developer</h2>

      <div class="job-card__meta">
        <span class="job-card__meta-item">1d ago</span>
        <span class="job-card__meta-item">Full Time</span>
        <span class="job-card__meta-item">USA only</span>
      </div>
    </div>
  </div>

  <div class="job-card__divider"></div>

  <ul class="job-card__tags">
    <li class="job-cad__tag-item">Frontend</li>
    <li class="job-cad__tag-item">Senior</li>
    <li class="job-cad__tag-item">HTML</li>
    <li class="job-cad__tag-item">CSS</li>
    <li class="job-cad__tag-item">Javascript</li>
  </ul>
</div>
